img {
	float-left:
	width:60px;
	height:100px;
	border-radius: 15px;
}

body {
	min-height: 100vh;
    background-image: url("Images/Hopfarm.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.myjumbotron	{
	font-size: 30px; 
	text-align: center;
	opacity: .75;
	background-color: rgb(200, 140, 100);
	color: green;
	font-family: "Times New Roman", serif;
	border-radius: 50px;
	width: 480px;
	margin: 18;
	border: 4;
	padding: 0;
	color: white;
    text-shadow: 2px 2px 4px #000000;

}

.outer	{
	position: relative;
	justify-content: center;
	align-items: center;
}
.inner	{
	margin: auto;

}
.navbar-default	{

	background-color: rgb(190, 140, 100)!important;
	border-color: rgb(200, 140, 100)!important;
}

.bottomRow	{
	border: 3px;
	clear:both;
}

.well {
	width:287px;
	height: 400px;
}

.space 	{
	margin-top: 70px;
}